name: Clang ASAN check

on: push

jobs:
  asan:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 1
          submodules: true

      - name: Install clang
        run: |
          sudo apt-get install -y clang llvm

      - name: Build
        run: make asan

      - name: Run instrumented code
        run: |
          llvm-symbolizer ./smart-snako
          llvm-symbolizer ./smart-snako --width=10 --height=10
          llvm-symbolizer ./smart-snako --width=30 --height=30 --agent="random"
          llvm-symbolizer ./smart-snako --width=30 --height=30 --agent="raw_hamilton"
          llvm-symbolizer ./smart-snako --width=30 --height=30 --agent="manhattan"
          llvm-symbolizer ./smart-snako --width=30 --height=30 --agent="dfs"
          llvm-symbolizer ./smart-snako --width=30 --height=30 --agent="ida_dfs"
