name: Memory Leak Check

on: push

jobs:
  heapcheck-solve:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 1
          submodules: true

      - name: Install gproftools
        run: |
          sudo apt-get install -y google-perftools libgoogle-perftools-dev
          sudo ln -s /usr/lib/x86_64-linux-gnu/libtcmalloc.so /usr/lib/libtcmalloc.so

      - name: Build
        run: make gperftools

      - name: Detect Leaks
        run: |
          ./smart-snako
          ./smart-snako --width=10 --height=10
          ./smart-snako --width=30 --height=30 --agent="random"
          ./smart-snako --width=30 --height=30 --agent="raw_hamilton"
          ./smart-snako --width=30 --height=30 --agent="manhattan"
          ./smart-snako --width=30 --height=30 --agent="dfs"
          ./smart-snako --width=30 --height=30 --agent="ida_dfs"
          ./smart-snako --width=30 --height=30 --agent="smart_snako"
        env:
          HEAPCHECK: normal
