name: Smoke Test

on: push

jobs:
  run:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5

    strategy:
      matrix:
        os: [ubuntu-18.04, macos-10.15]

    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 1
          submodules: true

      - name: Build
        run: make

      - name: Run
        run: |
          ./smart-snako
          ./smart-snako --width=10 --height=10
          ./smart-snako --width=20 --height=20 --agent="random"
          ./smart-snako --width=20 --height=20 --agent="raw_hamilton"
          ./smart-snako --width=20 --height=20 --agent="manhattan"
          ./smart-snako --width=20 --height=20 --agent="dfs"
          ./smart-snako --width=20 --height=20 --agent="ida_dfs"
          ./smart-snako --width=20 --height=20 --agent="smart_snako"
          ./smart-snako --width=15 --height=15 --agent="smart_snako_exaustive"
