name: Smoke Test

on: push

jobs:
  run-benchmarks:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5

    strategy:
      matrix:
        os: [ubuntu-18.04, macos-10.15]

    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 1
          submodules: true

      - name: Build
        run: make

      - name: Run
        run: |
          ./smart-snako --verbose
          ./smart-snako --width=10 --height=10
          ./smart-snako --width=30 --height=30 --agent="random"
          ./smart-snako --width=30 --height=30 --agent="raw_hamilton"
          ./smart-snako --width=30 --height=30 --agent="manhattan"
          ./smart-snako --width=30 --height=30 --agent="dfs"
          ./smart-snako --width=30 --height=30 --agent="ida_dfs"
