name: valgrind

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 1
          submodules: true

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get -y -qq install valgrind

      - name: Build
        run: make callgrind

      - name: Run valgrind
        run: |
          valgrind ./smart-snako
          valgrind ./smart-snako --width=10 --height=10
          valgrind ./smart-snako --width=20 --height=20 --agent="random"
          valgrind ./smart-snako --width=20 --height=20 --agent="raw_hamilton"
          valgrind ./smart-snako --width=20 --height=20 --agent="manhattan"
          valgrind ./smart-snako --width=20 --height=20 --agent="dfs"
          valgrind ./smart-snako --width=20 --height=20 --agent="ida_dfs"
          valgrind ./smart-snako --width=20 --height=20 --agent="smart_snako"
          valgrind ./smart-snako --width=15 --height=15 --agent="smart_snako_exaustive"
